# Secret key for JWT
SECRET_KEY=

# MongoDB
MONGO_DB_USERNAME=
MONGO_DB_PWD=

# Slack Webhooks URL
SLACK_WEBHOOK_URL=

# MongoDB
# MONGODB_URI=mongodb+srv://KafkaKare:sHRtyVkFa7aOykcX@kafka-kare.e2s35ya.mongodb.net/?retryWrites=true&w=majority&appName=Kafka-Kare 