/* STYLING FOR HOME PAGE */
:root {
  --size: 70%;
  --blending-value: hard-light;
}
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.gradient-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
 }

.animate-first,
.animate-second,
.animate-third,
.animate-fourth,
.animate-fifth {
  position: absolute;
  width: var(--size);
  height: var(--size);
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
  mix-blend-mode: var(--blending-value);
  /* border-radius: 50%; */
  opacity: 1;
}

.animate-first {
  animation: moveVertical 30s ease infinite;
  background: radial-gradient(circle at center, rgba(233, 116, 233, 0.8) 0%, rgba(255, 255, 255, 0) 50%);
  transform-origin: center center;
 }

.animate-second {
  animation: moveInCircle 20s reverse infinite;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 50%);
  transform-origin: calc(50% - 400px);
}

.animate-third {
  animation: moveInCircle 40s linear infinite;
  background: radial-gradient(circle at center, rgba(238, 235, 10, 0.8) 0%, rgba(238, 235, 10, 0) 50%);
  transform-origin: calc(50% + 400px);
}

.animate-fourth {
  animation: moveHorizontal 40s ease infinite;
  background: radial-gradient(circle at center, rgba(18, 46, 147, 0.8) 0%, rgba(18, 46, 147, 0) 50%);
  opacity: 0.7;
  transform-origin: calc(50% - 200px);
}

.animate-fifth {
  animation: moveInCircle 20s ease infinite;
  background: radial-gradient(circle at center, rgba(118, 228, 15, 0.8) 0%, rgba(118, 228, 15, 0) 50%);
  transform-origin: calc(50% - 800px) calc(50% + 800px);
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

/* STYLING FOR LOGIN PAGE AND SIGNUP PAGE */
.login-content,
.signup-content {
  background-image: url("../../public/kafka-kare-background-v2.jpg");
}

/* STYLING FOR DASHBOARD PAGES */
.graph {
  margin-left: 220px;
  border-radius: 20px;
}
